.main.single-main{
  height: 1485;
  width: 1440;
  columns: #333333;
  font-size: 14px;

  .h2.l-single-head.rejistration{
    height: 97px;
    width: 700px;
  }

  .form#register-form.l-single-inner.registration-form{
    .div.form-group{
      height: 99px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      
      .label{
        height: 14px;
        width: 83.31px; 
        color: #333333;
        font-size: 14px;
      }

      .span.form-require{
        height: 19px;
        width: 32px;
        color: #FFFFFF;
        font-size: 12px;
        background-color: #EA352D;
        margin: 0px 0px 0px 9px;
        padding: 2px 4px;
      }

      .input.input-default.has-error{
        background-color: #FFFFFF;
        margin: 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .li#nickname-error.has-error{
        height: 21px;
        width: 343px;
        color: #EA352D;
        font-size: 14px;
        margin: 8px 0px 0px;
      }
    }

    .div.form-group{
      height: 99px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 32px 0px 0px;

      .label{
        height: 14px;
        width: 98px;
        color: #333333;
        font-size: 14px;
      }

      .span.form-require{
        height: 19px;
        width: 32px;
        color: #FFFFFF;
        font-size: 12px;
        background-color: #EA352D;
        margin: 0px 0px 0px 9px;
        padding: 2px 4px;
      }

      .input.input-default.has-error{
        height: 48px;
        width: 343px;
        background-color: #FFFFFF;
        margin: 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .li#email-error.has-error{
        height: 21px;
        width: 343px;
        font-size: 14px;
        margin: 8px 0px 0px;
      }
    }

    .div.form-group{
      height: 99px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 32px 0px 0px;

      .label{
        height: 14px;
        width: 98px;
        color: #333333;
        font-size: 14px;
      }

      .span.form-require{
        height: 19px;
        width: 32px;
        color: #FFFFFF;
        font-size: 12px;
        background-color: #EA352D;
        margin: 0px 0px 0px 9px;
        padding: 2px 4px;
      }

      .input.input-default.has-error{
        height: 48px;
        width: 343px;
        background-color: #FFFFFF;
        margin: 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .li#email-error.has-error{
        height: 21px;
        width: 343px;
        color: #EA352D;
        font-size: 14px;
        margin: 8px 0px 0px;
      }
    }

    .div.form-group.form-password-revelation{
      height: 158px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 32px 0px 0px;

      .label{
        height: 14px;
        width: 70px;
        color: #333333;
        font-size: 14px;
      }

      .span.form-require{
        height: 19px;
        width: 32px;
        color: #FFFFFF;
        font-size: 12px;
        background-color: #EA352D;
        margin: 0px 0px 0px 8px;
        padding: 2px 4px;
      }

      .input.input-default.has-error{
        height: 48px;
        width: 343px;
        background-color: #FFFFFF;
        margin: 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .li#password-error.has-error{
        height: 21px;
        width: 343px;
        background-color: #ea352d;
        font-size: 14px;
        margin: 8px 0px 0px;
      }

      .p.form-info-texy{
        height: 21px;
        width: 343px;
        color: #888888;
        font-size: 14px;
        margin: 8px 0px 0px;
      }

      .label{
        height: 14px;
        width: 167.45px;
        color: #333333;
        font-size: 14px;
        padding: 0px 0px 0px 28px;
      }
    }

    .div.form-group{
      height: 87px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 32px 0px 0px;

      .h3.text-left.l-chapter-sub-head{
        height: 16px;
        width: 343px;
        color: #333333;
        font-size: 16px;
      }

      .p.l-single-text{
        height: 63px;
        width: 343px;
        color: #333333;
        font-size: 14px;
        margin: 8px 0px 0px;
      }
    }

    .div.form-group{
      height: 128px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 32px 0px 0px;

      .div{
        .label{
          height: 14px;
          width: 79.08px;
          color: #333333;
          font-size: 14px;
        }

        .span.form-require{
          height: 19px;
          width: 32px;
          color: #FFFFFF;
          font-size: 12px;
          background-color: #EA352D;
          margin: 0px 0px 0px 8px;
          padding: 2px 4px;
        }
      }

      .input.input-default.half.has-error{
        height: 48px;
        width: 165.5px;
        margin: 8px 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .input.input-default.half.has-error{
        height: 48px;
        width: 165.5px;
        background-color: #FFFFFF;
        margin: 8px 0px 0px;
        padding: 10px 16px 8px;
      }

      .li#family-name-kanj-error.has-error{
        height: 21px;
        width: 343px;
        color: #EA352D;
        font-size: 14px;
        margin: 8px 0px 0px;
      }

      .li#first-name-kanj-error.has-error{
        height: 21px;
        width: 343px;
        color: #EA352D;
        font-size: 14px;
        margin: 8px 0px 0px;
      }

      .div.form-group{
        height: 99px;
        width: 343px;
        color: #333333;
        font-size: 14px;
        margin: 32px 0px 0px;

        .label{
          height: 14px;
          width: 56px;
          color: #333333;
          font-size: 14px;
        }

        .span.form-require{
          height: 19px;
          width: 32px;
          color: #FFFFFF;
          background-color: #EA352D;
          margin: 0px 0px 0px 8px;
          padding: 2px 4px;
        }

        .div.birthday-select-wrap{
          height: 85px;
          width: 343px;
          color: #333333;
          font-size: 14px;

          .select.select-default.has-error{
            height: 48px;
            width: 76px;
            padding: 0px 10px;
          }
          
          .span{
            height: 14px;
            width: 18px;
            color: #333333;
            font-size: 14px;
            margin: 0px 2p;
          }

          .select.select-default.has-error{
            height: 48px;
            width: 76px;
            padding: 0px 10px;
          }
          
          .span{
            height: 14px;
            width: 18px;
            color: #333333;
            font-size: 14px;
            margin: 0px 2p;
          }

          .select.select-default{
            height: 48px;
            width: 76px;
            padding: 0px 10px;
          }
          
          .span{
            height: 14px;
            width: 18px;
            color: #333333;
            font-size: 14px;
            margin: 0px 2p;
          }
        }
        .li#birthfay-error.has-error{
          height: 21px;
          width: 343px;
          color: #EA352D;
          font-size: 14px;
          margin: 8px 0px 0px;
        }

        .p.form-info-text{
          height: 42px;
          width: 343px;
          color: #888888;
          font-size: 14px;
          margin: 8px 0px 0px;
        }
      }
    }

    .div.l-single-content{
      height: 261px;
      width: 343px;
      color: #333333;
      font-size: 14px;
      margin: 0px 138.5px;

      .p.-single-rext.text-center{
        height: 42px;
        width: 343px;
        color: #333333;
        font-size: 14px;
      }

      .button.btn-default.btn-red{
        height: 50px;
        width: 343px;
        color: #FFFFFF;
        background-color: #EA352D;
        margin: 32px 0px 0px;
      }

      .p{
        height: 21px;
        color: blue($color: #333333);
        font-size: 0vw14px;

        .a{
          height: 18px;
          width: 162.59px;
          color: #0099E8;
          font-size: 14px;
        }
      }

      .div.form-group.recaptcha_team{
        height: 52px;
        width: 343px;
        color: #333333;
        background-color: #F5F5F5F5;
        margin: 32px 0px 0px;
        padding: 8px 16px;

        .p{
          height: 36px;
          width: 311px;
          color: #888888;
          font-size: 0vh12px;
        }
      }

    }
 
    
  }
}










// .wrapper{
//   display: flex;

//   .main-chat {
//     width: calc(100vw - 300px);
//     height: calc(100vh - 100px - 90px);

//     .main-header{
//       display: flex;
//       justify-content: space-between; 
//       height: 100px; 
//       padding: 0 20px;
//       background-color: #ffffff; 
//       box-sizing: border-box;
        
//       &__left-header {
//         height: 100px;
//         width: 900px;
         
//         &__left-header__title{
//           color: #333333;
//           font-size: 20px;
//           margin-top: 35px;
//         }
//         &__left-header__memberr{
//           color: #999999;
//           font-size: 12px;
//           margin-bottom: 15px;
//         }
//       }
//       &__right-header {
//         height: 50px;
//         width: 80px; 
//         line-height: 50px;
//         text-align: center;
//         margin-top: 20px;
//         background-color: #ffffff
        
        
//       } 
//         &__right-header__button{
//           color: #38aef0;
//           border: solid #38aef0;
          
//         } 
//     }  

//     .messages{
//       background-color: rgb(250, 250, 250);
//       box-sizing: border-box;
//       height: calc(100vh - 100px - 90px);
//       padding-top: 20px;
//       &__message{
//         padding: 0 30px;
//         &___message__upper-message {
//           display: flex;
//           justify-content: left;

//         }
//           &__message__upper-message_user-name{
//             color: #434a54;
//             font-size: 16px;
//             font-weight: bold;
//             margin-right: 15px;
//           }

//           &__message__upper-message_user-namea{
//             color: #999999;
//             font-size: 12px;
//           } 
      
//         &__message__lower-message  {
//           margin-top: 5px;
//         }
          
//           &__message__lower-message__sentenncee{
//             color: #434A54;
//             font-size: 14px;
//             margin-bottom: 10px;
//           }
//       }
//     }



//     .form{
//       // box-sizing: border-box;
//       background-color: #d2d2d2;
//       height: 90px;
//       // width: 100%;
//       padding: 20px 40px;
//       form{
//         display: flex;
//       }

//       &__box{
//         position: relative;
//         width: 100%;

//       }
//         &__box__message{           
//           height: 50px;
//           width: 100%;
//           padding: 0px 40px 0px 10px;
//           color: #434a54;
//           border-style: none;
//         }
//         &__box__submit{
//           font-size: 1.3rem;
//           position:absolute;
//           top: 10px;
//           right: 10px;
//           cursor: pointer;

//           .hidden{
//             display: none;
//           }
//         }
//         &__box__button{
          
//           height: 50px;
//           width: 100px;
//           background-color: #38aef0;
//           color:#fafafa;
//           margin-left: 15px;
//           padding: 0 30px;
//           cursor: pointer;
//         }  
//     }
//   }
// }
