.main{
  width: 100%;
  &__single-container {
    background-color: $wh;
    width: 700px;
    margin: 0 auto;
    &__head {
      text-align: center;
      padding: 32px;
      font-size: 22px;
      font-weight: bold;
      border-bottom: 1px solid rgb(223, 223, 223);
    }
    .registar-form {
      padding: 40px 40px 64px;
      &__content{
        padding: 0 138px;
        width: 100%;
        margin: 0 auto;
        &__box {
          width: 100%;
          color: $sub-font;
          font-size: 14px;
          margin-bottom: 30px;
          &__label {
            height: 14px;
            width: 83.31px; 
            color: $sub-font;
            font-size: 14px;
            font-weight: bold;
          }
          &__require {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: $require-box;
            color: $wh;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4em;
          }
          &__optional {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #888;
            color: $wh;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4em;
          }
          &__text2{
            height: 21px;
            width: 343px;
            color: $require-box;
            font-size: 14px;
            margin: 8px 0px 0px;
          }
          &--one-field {
            height: 48px;
            background-color: $wh;
            margin: 8px 0px 0px;
            padding: 10px 16px 8px;
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: none;
            border: solid 1px rgb(223, 223, 223);
            outline: none;
            &:focus {
              border-color: $lightgreen;
            }
          }
          &--two-field {
            height: 48px;
            width: 100%;
            display: flex;
            font-size: 16px;
            margin-top: 8px;
            &:focus {
              border-color: $lightgreen;
            }
            .two-field-a {
              padding: 10px 16px 8px;
              margin-right: 8px;
              width: 170px;
              line-height: 48px;
              height: 48px;
              outline: none;
              background: $wh;
              border-radius: 4px;
              border: 1px solid #ccc;
              &:focus {
                border-color: $lightgreen;
              }
            }
            .two-field-b {
              padding: 10px 16px 8px;
              line-height: 48px;
              height: 48px;
              width: 170px;
              outline: none;
              background: $wh;
              border-radius: 4px;
              border: 1px solid #ccc;
              &:focus {
                border-color: $lightgreen;
              }
            }
          }
          &__birthday{
            margin-top: 8px;
            color: $sub-font;
            font-size: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            #user_birthday_1i {
              height: 48px;
              width: 100px;
              margin-right: 10px;
              background-color: $wh;
              border: 1px solid #ccc;
              outline: none;
              &:focus {
                border-color: $lightgreen;
              }
            }
            #user_birthday_2i {
              height: 48px;
              width: 60px;
              margin-left: 15px;
              margin-right: 10px;
              background-color: $wh;
              border: 1px solid #ccc;
              outline: none;
              &:focus {
                border-color: $lightgreen;
              }
            }
            #user_birthday_3i {
              height: 48px;
              width: 60px;
              margin-left: 15px;
              margin-right: 10px;
              background-color: $wh;
              border: 1px solid #ccc;
              outline: none;
              &:focus {
                border-color: $lightgreen;
              }
            }
          }
          #address_prefecture_id {
            height: 48px;
            background-color: $wh;
            margin: 8px 0px 0px;
            padding: 10px 16px 8px;
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: none;
            border: solid 1px rgb(223, 223, 223);
            outline: none;
            &:focus {
              border-color: $lightgreen;
            }
          }
        }
        &__submit {
          margin: 24px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          font-size: 14px;
          text-align: center;
          .single-move-button{
            background: none;
            border: none;
            color: $wh;
            padding: 13px 142px;
          }
        }
      }
    }
  }
}