a {
  text-decoration: none;
}

.main-h{
  height: 722px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;  
  
  &__buy{
    width: 700px;
    height: 722px;
    background-color: white;
    
    &__head{
      width: 700px;
      height: 97px;
      font-size: 22px;
      color: $sub-font;
      text-align: center;
      font-weight: 600;
      padding: 32px;
    }

    &__item{
      width: 700px;
      height: 145px;
      font-size: 14px;
      text-align: center;
      padding: 32px 16px;
      border-top: 1px solid #f5f5f5;

      &__inner{
        max-width: 343px;
        height: 80px;
        margin: 0 auto;
        font-size: 14px;

        .buy-item{
          width: 343px;
          height: 80px;
          display: flex;

          &__image{
            width: 80px;
            height: 80px;
            min-width: 80px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            background-image: url(sample001.jpg);
            background-size: cover;
          }

          &__detail{            
            height: 80px;
            margin-left: 16px;

            .buy-item__name{
              color: $sub-font;
              height: 29px;
              font-size: 14px;
              margin: 0;
              padding: 0 0 8px;
              line-height: 1.5;
              text-align: left;
            }

            .buy-price{
              color: $sub-font;
              width: 151.58px;
              height: 15px;
              margin: 0;
              text-align: left;
              font-size: 15px;
              font-weight: 600;


              .item-shipping-fee{
                color: $sub-font;
                width: 96px;
                height: 12px;
                display: inline-block;
                font-size: 13px;
                text-align: center;
                line-height: 12px;
              }
            }
          }
        }
      }
    }

    .sub-buy{
      border-top: 1px solid #f5f5f5;
      padding: 32px 16px 48px 16px;

      &__inner{
        height: 399px;
        max-width: 343px;
        margin: 0 auto;

        .buy-form{
          width: 343px;
          height: 399px;

          &__price{
            display: table;
            border-collapse: collapse;
            width: 100%;

            .price-pay{
              display: flex;
              justify-content: space-between;
              font-size: 30px;
              align-items: center;

              &__label{
                color: $sub-font;
                font-size: 18px;
                font-weight: 600;
              }

              &__cell{
                color: $sub-font;
                font-size: 30px;
                font-weight: 600;
              }
            }
          }
          .buy-point{
            width: 343px;
            height: 14px;
            color: #888;
            margin: 24px 0 32px 0;
            
            &__parent{  
              width:343px;
              height: 14px;
              background-color: white;              

              .label{
                width: 343px;
                height: 14px;
                font-size: 14px;
                position: relative;
                
                .send{      
                  position: absolute;                  
                  transform: scale(1.2);
                  background-color: #ccc;  
                  color: #ccc;
                  top: 20%;                    
                }
                .label2{
                  width: 343px;
                  height: 14px;
                  font-size: 14px;
                  padding: 0 0 0 28px;
                }

                .fas{
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  transform: scale(1.2);
                  background-color: #ccc;  
                  color: #ccc;
                  top: 20%;
                  border-radius: 2px;
                }
              }
            }
          }
          .buy-content{
            display: flex;
            justify-content: center;
            width: 343px;
            height: 108px;
            padding: 32px 0;
            border-top: 1px solid #f5f5f5;

            &__inner{
              width: 343px;
              height: 43px;
              
              .payment{
                color: $sub-font;
                font-size: 14px;
                font-weight: bold;
              }

              .inner-text{

                &:hover{
                text-decoration: underline;
                }
              }
              .buy_user-info-text{
                  width: 343px;
                  height: 21px;
                  text-align: left;
                  margin: 8px 0 0;
                  font-size: 14px;
                  color: #0099e8;
              }
            }
          }

          .buy-content2{
            display: flex;
            justify-content: center;
            width: 343px;
            height: 108px;
            padding: 32px 0;
            border-top: 1px solid #f5f5f5;

            &__inner2{
              width: 343px;
              height: 43px;
              
              .shipping-addres{
                font-size: 14px;
                font-weight: bold;
              }

              .inner-text2{

                &:hover{
                text-decoration: underline;
                }
              }

              .buy_user-info-text2{
                width: 343px;
                height: 21px;
                text-align: left;
                margin: 8px 0 0;
                font-size: 14px;
                color: #0099e8;
              }
            }
          }

          .purchase{
            width: 343px;
            height: 83px;
            padding: 32px 0 0;

            .buy_btn{
              width: 343px;
              height:50px;
              border: 1px solid #888;
              background: #888;
              color: #fff;
              background-color: #888888;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

