.main-h{
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;  
  
  &__buy{
    width: 700px;
    background-color: $wh;
    &__head{
      width: 700px;
      height: 97px;
      font-size: 22px;
      color: $sub-font;
      text-align: center;
      font-weight: 600;
      padding: 32px;
    }

    &__item{
      width: 700px;
      height: 145px;
      font-size: 14px;
      text-align: center;
      padding: 20px 16px;
      border-top: 1px solid #f5f5f5;
      &__inner{
        height: 100%;
        max-width: 343px;
        margin: 0 auto;
        font-size: 14px;
        .buy-item{
          width: 343px;
          display: flex;
          align-items: center;
          &__image{
            justify-content: center;
            align-items: center;
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
            }
          }
          &__detail{            
            margin-left: 16px;
            .buy-item__name{
              color: $sub-font;
              padding: 0 0 8px;
              font-weight: bold;
              text-align: left;
              p {
                font-size: 16px;
              }
            }
            .buy-price{
              width: 100%;
              text-align: right;
              padding-left: 60px;
              p {
                color: $sub-font;
                width: 100%;
                display: inline-block;
                font-size: 14px;
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }

    .sub-buy{
      border-top: 1px solid #f5f5f5;
      padding: 32px 16px 48px 16px;
      &__inner{
        max-width: 343px;
        margin: 0 auto;
        .buy-form{
          width: 343px;

          &__price{
            display: table;
            border-collapse: collapse;
            width: 100%;

            .price-pay{
              display: flex;
              justify-content: space-between;
              font-size: 30px;
              align-items: center;

              &__label{
                color: $sub-font;
                font-size: 18px;
                font-weight: 600;
              }

              &__cell{
                color: $sub-font;
                font-size: 30px;
                font-weight: 600;
              }
            }
          }
          .buy-point{
            width: 343px;
            height: 14px;
            color: #888;
            margin: 24px 0 32px 0;
            
            &__parent{  
              width:343px;
              height: 14px;
              background-color: $wh;              

              .label{
                width: 343px;
                height: 14px;
                font-size: 14px;
                position: relative;
                
                .send{      
                  position: absolute;                  
                  transform: scale(1.2);
                  background-color: $lightgray;  
                  color: $lightgray;
                  top: 20%;                    
                }
                .label2{
                  width: 343px;
                  height: 14px;
                  font-size: 14px;
                  padding: 0 0 0 28px;
                }

                .fas{
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  transform: scale(1.2);
                  background-color:$lightgray;  
                  color: $lightgray;
                  top: 20%;
                  border-radius: 2px;
                }
              }
            }
          }
          .buy-content{
            width: 343px;
            padding: 10px 0;
            &__title {
              color: #333333;
              font-size: 18px;
              font-weight: 600;
              padding-top: 22px;
              padding-bottom: 10px;
              border-top: 1px solid #f5f5f5;
            }
            &__card {
              width: 100%;
              display: flex;
              align-items: center;
              padding-bottom: 10px;
              &__left {
                width: 80%;
                color: $sub-font;
                font-size: 14px;
                &__row {
                  padding-bottom: 5px;
                  &__label {
                    display: inline-block;
                    width: 100px;
                    text-align: left;
                  }
                  &__info {
                    padding-left: 15px;
                    border-left: solid 1px $lightgray;
                  }
                }
              }
              &__right {
                width: 20%;
                text-align: center;
              }
            }
            &__address {
              padding-bottom: 10px;
              &__info {
                padding-bottom: 5px;
              }
            }
            &__edit {
              color: #0099e8;
              font-size: 14px;
              &:hover {
                opacity: .5;
              }
            }
          }
        }

        .purchase{
          width: 343px;
          height: 83px;
          padding: 32px 0 0;

          .buy_btn{
            width: 100%;
            height:50px;
            color: $wh;
            background-color: $lightred;
            font-size: 14px;
            font-weight: bold;
            outline: none;
            &:hover {
              opacity: .5;
            }
          }
          .sold-out {
            text-align: center;
            line-height: 50px;
            width: 100%;
            height:50px;
            color: $wh;
            background-color: #888;
            font-size: 14px;
            font-weight: bold;
            outline: none;
            &:hover {
              opacity: .5;
            }
          }
        }
      }
    }
  }
}

