- if column == :price
  %ul.error-msg__min
    - input.errors.full_messages_for(column).each do |message|
      %li= message
- elsif input.errors.any?
  %ul.error-msg
    - input.errors.full_messages_for(column).each do |message|
      %li= message
