.introductionFirst {
  background: image-url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 560px;
  padding: 0 60px;

    &__title {
      font-size: 60px;
      color: $wh;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 120px 0 16px 0;
    }

    &__text {
      font-size: 18px;
      line-height: 1.8;
      color: $wh;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin-bottom: 24px;
    }
}
