.pickUp 
  %h2.pickUp__title 
    = title
  = link_to subtitle, link, class: "pickUp__subTitle"
  %ul.pickUp__contentsList
    .pickUp__contentsList__product-list
      = render partial: 'shared/item', collection: @items.first(3)
            