.appBanners
  = link_to '#', class: "appBanners__appStore" do
    = image_tag "app_store.svg", size: "180x54", alt: "app_store"
  = link_to '#', class: "appBanners__googlePlay" do
    = image_tag "google_play.svg", size: "180x54", alt: "google_play"