%section.introductionFourth
  %h2.introductionFourth__title FURIMAの特徴

  .introductionFourth__contentsBox
    .introductionFourth__contentBox
      = image_tag "icon-01.png", alt: "簡単に売り買いできる", class: "introductionFourth__image"
      %h3.introductionFourth__subTitle 簡単に売り買いできる
      %p.introductionFourth__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      
    .introductionFourth__contentBox.introductionFourth__contentBox--center
      = image_tag "icon-03.png", alt: "売上金は即日振込みに対応", class: "introductionFourth__image"
      %h3.introductionFourth__subTitle 売上金は即日振込みに対応
      %p.introductionFourth__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

    .introductionFourth__contentBox
      = image_tag "icon-04.png", alt: "様々な支払いに対応", class: "introductionFourth__image"
      %h3.introductionFourth__subTitle 様々な支払いに対応
      %p.introductionFourth__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      