%section.introductionSecond
  %h2.introductionSecond__title FURIMAが選ばれる3つの理由

  .introductionSecond__contentsBox
    .introductionSecond__contentBox
      .introductionSecond__imageBox
        = image_tag "pict-reason-01.jpg", alt: "3分ですぐに出品", class: "introductionSecond__image"
        .introductionSecond__number 1
      %h3.introductionSecond__subTitle
        %span 3分
        ですぐに出品
      %p.introductionSecond__text スマホで入力するだけで簡単に出品できる！
      
    .introductionSecond__contentBox.introductionSecond__contentBox--center
      .introductionSecond__imageBox
        = image_tag "pict-reason-02.jpg", alt: "シンプルで使いやすい", class: "introductionSecond__image"
        .introductionSecond__number 2
      %h3.introductionSecond__subTitle
        %span シンプル
        で使いやすい
      %p.introductionSecond__text めんどくさい入力は必要なく、検索も購入もスムーズ！

    .introductionSecond__contentBox
      .introductionSecond__imageBox
        = image_tag "pict-reason-03.jpg", alt: "手数料業界最安", class: "introductionSecond__image"
        .introductionSecond__number 3
      %h3.introductionSecond__subTitle
        手数料
        %Span 業界最安
      %p.introductionSecond__text 最大3%でお得に出品&購入！
      