.hooter-h
  .hooter-h__item
    =link_to "プライバシーポリシー" ,root_path, class: "link" 
    =link_to "フリマ利用規約" ,root_path, class: "link"
    =link_to "特定商取引に関する表記" ,root_path, class: "link"
  
  .hooter-h__logo
    %a{href: ""}
      %img{alt: "",src: "/assets/logo.jpg",width: "90",height: "45"}/
    %p 
      %small   © FURIMA