.hooter-h
  .hooter-h__item
    =link_to "プライバシーポリシー" ,"https://www.mercari.com/jp/privacy/", class: "link" 
    =link_to "フリマ利用規約" ,"https://www.mercari.com/jp/tos/", class: "link"
    =link_to "特定商取引に関する表記" ,"https://www.mercari.com/jp/tokutei/", class: "link"
  
  .hooter-h__logo
    =link_to '/' do
      = image_tag "logo.jpg", alt: "", width: "90",height: "27"
    %p 
      %small   © FURIMA