.item-image {
  margin: 16px 2% 0 0;
  float: left;

  .operations {
    background-color: #f5f5f5;
    display: flex;
    width: 114px;
    margin: 0;
    border: 1px solid #eee;

    .operation {
      color: #0099e8;
      font-size: 14px;
      width: 50%;
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
    .delete {
      border-left: 1px solid #eee;
    }
  }  
}

#image-box-1 { 
  display: block;
}

.item-num-0{
  width: 100%;
  height: 162px;
}
// @include clearfix();
.item-num-1{
  width: 491px;
  height: 162px;
  float: left;
}
.item-num-2{
  width: 363px;
  height: 162px;
  float: left;
}
.item-num-3{
  width: 234px;
  height: 162px;
  float: left;

}
.item-num-4{
  width: 106px;
  height: 162px;
  float: left;

}
//下段のfile_field
.item-num-5{
  width: 100%;
  height: 162px;

}
.item-num-6{
  width: 491px;
  height: 162px;
  float: left;

}
.item-num-7{
  width: 363px;
  height: 162px;
  float: left;

}
.item-num-8{
  width: 234px;
  height: 162px;
  float: left;

}
.item-num-9{
  width: 106px;
  height: 162px;
  float: left;

}
