#image-box-1 { 
  display: block;
  width: 103%;
  font-size: 0px;

  .item-image {
    margin: 16px 2% 0 0;
    float: left;

    .operations {
      background-color: #f5f5f5;
      display: flex;
      width: 114px;
      margin: 0;
      border: 1px solid #eee;

      .operation {
        color: #0099e8;
        font-size: 14px;
        width: 50%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        cursor: pointer;
        &:hover{
          background-color: $grey;
          color: #1ec2c2;
        }
      }

      .delete {
        border-left: 1px solid #eee;
      }
    }  
  }
  @include clearfix();
}
