.si-container {
  &__si-box {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;

    &__si-inner {
      position: relative;
      background-color: rgb(255, 255, 255);

      h2.single-head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        color: $sub-font;
      }

      .perimeter {
        padding: 40px;
      }

      &__si-underline {
        border-top-width: 1px;
        border-top-color: #efefef;
        border-left: 0 solid #efefef;
        border-bottom: 0 solid #efefef;
        border-right: 0 solid #efefef;
        border-top-style: solid;
        margin: 0;
      }

      &__si-picture-box {
        &__box-frame {
          margin: 0;

          &__si-photos {
            margin: 0!important;

            &__si-label {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.4em;
            }

            &__si-label-2 {
              font-size: 14px;
              font-weight: 600;
              line-height: 55px;
            }

            .required-display {
              margin-left: 8px;
              font-size: 12px;
              padding: 0 4px;
              background-color: $require-box;
              color: $wh;
              border-radius: 2px;
              display: inline-block;
              font-style: normal;
              font-weight: 600;
              line-height: 1.4em;
            }
          }

          &__upload-text {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.4em;
            color: $sub-font;
          }
        }
      }
      .input-default {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $lightgray;
        background: $wh;
        line-height: 1.5;
        font-size: 16px;
        outline: none; 
      }
      .input-right {
        text-align: right;
      }
      .input-default:focus {
        border-color: $lightgreen;
      }
      .text-default {
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid $lightgray;
        background: $wh;
        font-size: 16px;
        line-height: 1.5;
        outline: none; 
      }
      .text-default:focus {
        border-color: $lightgreen;
      }
      .si-top {
        margin: 40px 0 0;
      }
      .si-bottom {
        padding: 0 0 24px;
        border: 0;
      }
      h3.sell-sub-head {
        color: #888;
        font-size: 14px;
        font-weight: bold;

        span.price-sub-head {
          font-size: 13px;
          margin-right: 2px;
        }
      }
      a.from-question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: $wh;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        position: relative;
        bottom: 0.7px;
      }
      .sell-form-box {
        width: 400px;
        margin: 0;

        &__select-wrap {
          margin: 8px 0 0;
          position: relative;
          background: $wh;

          i.fa-chevron-down {
            position: absolute;
            right: 16px;
            top: 32%;
            z-index: 2;
            color: #888;
            font-size: 20px;
          }
          .selector-category {
            color: $sub-font;
            width: 100%;
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid $lightgray;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;
            outline: none; 
          }
          .selector-category:focus {
            border-color: $lightgreen;
          }
        }
        .si-right-box {
          width: 80px;
        }
        &__sell-price-input {
          width: calc(100% - 80px);
          font-size: 10px;
          color: $sub-font;
          &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__yen {
              padding-left: 30px;
            }
            &__input-box {
              display: inline-block;
              width: 80%;
              margin: 0 0 0 5%;
            }
          }

        }
        &__price-list {
          padding: 24px 0;
          border-top: 1px solid $lightgray;

          &__l-left {
            font-size: 14px;
            color: $sub-font;
          }

          &__l-left-2 {
            font-size: 16px;
            color: $sub-font;
          }

          &__l-right-2 {
            font-size: 25px;
            color: $sub-font;
            font-weight: bold;
          }
          .fee-alert {
            color: $lightred;
            font-size: 14px;
          }
          .profit-value {
            font-size: 20px;
          }
        }

        .l-right {
          font-size: 14px;
          color: $sub-font;
          text-align: right;
        }
      }
      .display-box {
        display: flex;
        justify-content: space-between;
      }
      &__si-item-description {
        &__box-frame {
          margin: 0;
        }
      }
      &__sell-price {
        list-style: none;
      }
      span.required-display {
        margin-left: 8px;
        font-size: 12px;
        padding: 0 4px;
        background-color: $require-box;
        color: $wh;
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
      }
      .notes-box {
         &__lists{
          line-height: 1.5;
          font-size: 14px;
          display: flex;
          
          &__list {
            &__j-link {
              color: #0099e8;
            }
            &__j-link:hover {
              text-decoration: underline;
              opacity: .7;
            }
          }
        }
      }
      .si-sbm-btn {
        margin: 40px 0 0;
        background: $lightred;
        border: 1px solid $lightred;
        color: $wh;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .default-btn {
        width: 45%;
        margin: 24px auto 0;
        background: #aaa;
        border: 1px solid #aaa;
        color: $wh;
        display: block;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  }

  .post__drop__box__container{
    display: block;
    margin: 16px auto 0;
    display: flex;
    flex-wrap: wrap;
  
    //プレビュー表示欄のCSS
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0px 12px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          object-fit: cover;
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
          &:hover {
            background-color: rgb(236, 236, 236);
            color: skyblue;
          }
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
          &:hover {
            background-color: rgb(236, 236, 236);
            color: skyblue;
          }
        }
      }
    }

    //投稿クリックエリアのCSS
    .label-content{
      margin-bottom: 10px;
      width: 620px;
      .label-box {
        display: block;
        border: 1px dashed #ccc;
        position: relative;
        background: #f5f5f5;
        width: 100%;
        height: 162px;
        cursor: pointer;
        &__text-visible {
          position: absolute;
          top: 50%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 13px;
          line-height: 1.5;
          font-weight: bold;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          pointer-events: none;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
    }
  
    //file_fieldのcss
    .hidden-content {
      .hidden-field {
        display: none;
      }
      .hidden-checkbox {
        display: none;
      }
    }
  }
  .upto-display {
    margin-left: 8px;
    font-size: 12px;
    padding: 0 4px;
    background-color: #bfbfbf;
    color: $wh;
    border-radius: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
  }
}