.si-container__si-box
  .si-container__si-box__si-inner
    = form_with local: true do |f|
      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos{name: "photos"}
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              出品画像
            %span.required-display
              必須
          %p.si-container__si-box__si-inner__si-picture-box__box-frame__upload-text
            最大10枚までアップロードできます
          .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box
            .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container
              .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container__si-inner-box
                .si-container__si-box__si-inner__si-picture-box__box-frame__upload-box__upload-container__si-inner-box__si-inner-container
                  = f.label :image, id: "drop-zone", class: "image-label" do
                    = f.file_field :image, accept: "image/png,image/jpeg", autocomplete: "off", multiple: "", style: "display:none", tabindex: "-1", type: "file", class: "hidden-field"
                    %input{accept: "image/png,image/jpeg", autocomplete: "off", multiple: "", style: "display:none", tabindex: "-1", type: "file"}
              
                    .si-big-box
                      .si-big-box__si-icon-box
                        %img{alt: "出品する", class: 'camera-icon', src: "/assets/shared/icon_camera.png"}/
                      .si-big-box__si-text-box  
                        %p.drag-drop
                          ドラッグアンドドロップ
                        %p.drag-drop
                          またはクリックしてファイルをアップロード

      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品名
            %span.required-display
              必須
          .si-container__si-box__input-container
            = f.text_field :ItemsName, value: '', placeholder: '商品名（必須 40文字まで)', class:'input-default'

        .si-container__si-box__box-frame.si-top
          .si-container__si-box__si-photos
            %label.si-container__si-box__si-inner__si-picture-box__box-frame__si-photos__si-label
              商品の説明
            %span.required-display
              必須
          
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
        .si-container__si-box__box-frame
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
      %hr.si-container__si-box__si-inner__si-underline

      .si-container__si-box__si-picture-box.perimeter
