.si-container__si-box
  .si-container__si-box__si-inner
    = form_with local: true do |f|
      .si-container__si-box__si-inner__si-picture.perimeter
      %hr.si-container__si-box__si-inner__si-underline
      .si-container__si-box__si-inner__si-item-description.perimeter
      %hr.si-container__si-box__si-inner__si-underline
      .si-container__si-box__si-inner__si-detail-description.perimeter
      %hr.si-container__si-box__si-inner__si-underline
      .si-container__si-box__si-inner__si-shipping-info.perimeter
      %hr.si-container__si-box__si-inner__si-underline
      .si-container__si-box__si-inner__si-price-info.perimeter