body {
  background: #f5f5f5;
}
a {
  text-decoration: none;
  color: $sub-font;

}
.bold {
  font-weight: 600;
}
.header {
  width: 100vw;
  height: 150px;
  background-color: gray;
}
.footer {
  width: 100vw;
  height: 150px;
  background-color: gray;

}
.mp-container {
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;

  .mp-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;

    nav.mypage-nav {
      display: block;

      ul{
        list-style: none;
        background-color: $white;
        display: block;
        
        li.nav-listmypage-zone { //後でjsでfitst-childで色と動きの指定をするのでこのクラス名は不要になります。
          border: none;
          font-weight: 600;

          a {
            background-color: #eee;
            font-size: 14px;
            padding: 16px;
            color: $sub-font;
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              color: $sub-font;
            }
          }
          a:hover {
            background-color: #eee;
          }
        }
        li {
          min-height: 48px;
          border-top: 1px solid #eee;

          a {
            font-size: 14px;
            padding: 16px;
            color: $sub-font;
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center; 

            i {
              color: $lightgray;
              -webkit-transition: all ease-out .2s;
              transition: all ease-out .2s;
              font-size: 16px;
            }
          }
          a:hover {
            background-color: rgba(241, 241, 241, 0.479);
            i{
              transform: translate(5px,0);
              color: $sub-font;
            }
          }
        }
      }
      ul.mypage-nav-list-2 {
        margin: 8px 0 0;
      }
      h3.mypage-nav-head {
        color: $sub-font;
        margin: 40px 0 0;
        font-size: 16px;
        height:16px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }
  .mp-content {
    float: right;
    width: 700px;

    section.mypage-user-icon {
      height: 200px;
      padding: 20px;
      text-align: center;
      background-image: url("/assets/mypage/mypage-background.jpg");
      position: relative;

      a.user-profile {
        display: block;
        color: $sub-font;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        figure {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
          }
        }
      }
      a:hover {
        text-decoration: underline;
        opacity: .7;
      }

      h2.bold {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
      .mypage-number {
        margin: 8px 0 0;
        font-size:0;
        .evaluation {
          display: inline-block;
          font-size: 14px;

          span.bold {
            font-size: 16px;
            margin: 0 0 0 8px;
          }
        }
        .exhibit {
          display: inline-block;
          margin: 0 0 0 16px;
          font-size: 14px;

          span.bold {
            font-size: 16px;
            margin: 0 0 0 8px;
          }
        }
      }
    }
    section.mypage-tab-container-notification-todo {
      // height: 400px;
      margin: 0;
      background-color: $white;
      ul.mypage-tabs {
        border: 0;
        background: #eee;
        font-size: 0;

        li.notification {
          background-color: $white;
          h3 {
            a {
              border-top: 2px solid #ea352d;
              position: relative;
              display: block;
            }
          }
        }
        li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          h3 {
            font-size: 22px;
            font-weight: bold;
            a {
              position: relative;
              display: block;
              font-size: 16px;
              line-height: 72px;
            }
          }
        }
      }
      .tab-content {
        ul.mypage-item-list.tab-pane {
          display: block;
          li {
            position: relative;
            border-bottom: 1px solid #eee;
            position: relative;
            a.mypage-item-link {
              display: block;
              min-height: 80px;
              padding: 16px;
              figure {
                position: relative;
                overflow: hidden;
                float: left;
                width: 48px;
                height: 48px;
                margin: 0;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
                }
              }
              .mypage-item-body {
                margin: 0 40px 0 68px;
                .mypage-item-text {
                  font-size: 14px;
                  overflow: hidden;
                  display: -webkit-box;
                  max-height: 4.4em;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis;
                  line-height: 1.5;
                }
                time {
                  display: inline-block;
                  color: #888;
                  font-size: 0px;
                  i.fa-clock {
                    font-size: 16px;
                    margin: 0 8px 0 0;
                    position: relative;
                    top: 1px;
                  }
                  span {
                    font-size: 14px;
                  }
                }
              }
              i.fa-chevron-right {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translate(0, -50%);
              }
            }
          }
          li.mypage-go-list {
            border: none;
            padding: 16px;
            a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: $sub-font;
              line-height: 56px;
              text-align: center;
            }
          }
        }
      }
    }

    .mypage-tab-container-bottom {
      height: 400px;
      margin: 40px 0 0;
      background-color: $white;
    }
  }
}