@mixin section_title() {
  position: relative;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 15px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background-color: $lightgreen;
  }
}