.profits-title {
  padding: 10px 0 20px;
  &__bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    span {
      display: inline-block;
      font-size: 30px;
    }
  }
}

#myChart {
  padding: 10px 0 20px;
  position: relative;
}

.sub-profits-yet {
  font-size: 14px;
  border-top: solid 1px #f5f5f5;
  color: $sub-font;
  span {
    font-size: 20px;
  }
}

.csv-footer {
  height: 48px;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .csv-btn {
    border-radius: 5px;
    background-color: $lightgreen;
    color: $wh;
    font-size: 15px;
    padding: 3px 5px;
    &:hover {
      opacity: .5;
    }
  }
}

.seles-item {
  padding: 10px 20px;
  width: calc(100% - 150px);
  &__top {
    display: flex;
    justify-content: space-between;
    &__info {
      background-color: $wh;
      &__true {
        padding: 3px;
        font-size: 12px;
        color: $lightgreen;
        border: solid 1px $lightgreen;
        border-radius: 5px;
      }
      &__false {
        padding: 3px;
        font-size: 12px;
        color: $lightred;
        border: solid 1px $lightred;
        border-radius: 5px;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  &__mid {

  }
  &__bottom {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
  }
}